*{margin: 0;
padding: 0;}
.cabecalho{background-color: #1f0e6b;
color:#FFF;
display: flex;
justify-content: space-around;  
align-items: center;
padding: 14px 0}

.cabecalho-imagem{width:8%;height: 8%;
}
.cabecalho-lista-item {display:inline-block;
    margin: 0  40px;
font-size: 18px;
}
.escola-imagem {
    width: 25%
}
.escola {background-image: white;
color:#0e0d0d;
display:flex;
justify-content:center;
align-items:self-start;
padding: 35px 0;
font-size: 18px;

}
.escola-div-conteudo{width:35%;}
.icone-vscode{width: 25%;}
.abrir-arquivo{width: 80%;}
.new-file {width:80%}
.doctype{width: 80%;}
.doctype1{width: 80%;}
.head{width: 80%;}
.copy-path{width: 60%;}
.github{width: 120%;}
.salvar{width: 100%}
.site{width: 80%;}
